[flake8]
ignore = E203, E266, W503, E704, E701
max-line-length = 88
max-complexity = 18
per-file-ignores =
    blacksheep/__init__.py:F401
    blacksheep/client/__init__.py:F401
    blacksheep/server/__init__.py:F401
    tests/*:E501
    itests/*:E501

exclude =
    env
    .env
    venv
    venv311
    build
    .eggs
