include LICENSE
include README.md
include neoteroi/web/server/res/*.html
include neoteroi/web/server/res/*.css
include build_info.txt
recursive-include neoteroi/web *.pyx *.pxd *.pxi *.pyi *.py *.c *.h

# Stubs
include neoteroi/web/py.typed
