include LICENSE
include README.md
include blacksheep/server/res/*.html
include blacksheep/server/res/*.css
include build_info.txt
recursive-include blacksheep *.pyx *.pxd *.pxi *.pyi *.py *.c *.h

# Stubs
include blacksheep/py.typed
