certifi>=2025.4.26
guardpost>=1.0.4
rodi~=2.0.2
essentials>=1.1.8,<2.0
essentials-openapi>=1.2.0,<2.0
itsdangerous~=2.2.0
cryptography>=45.0.2,<47.0.0
h11==0.16.0
h2>=4.0.0,<5.0.0
Jinja2~=3.1.6
PyJWT==2.10.1
websockets~=15.0.1
httptools==0.6.4
# For tests:
Cython==3.1.4
setuptools==80.7.1
Flask[async]==3.1.1
Hypercorn==0.17.3
requests==2.32.4
pytest==8.3.5
pytest-asyncio==1.2.0
pytest-cov==6.1.1
uvicorn==0.34.2
pydantic==2.12.3
pydantic_core==2.41.4
