<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlackSheep WebSocket Test</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="app">
    <p>Your client ID is {{ CLIENT_ID }}</p>
    <p>Status: {{ status }}</p>
    <ul>
        <li v-for="message in messages">{{ message }}</li>
    </ul>
    <div @keypress.enter.prevent="submit">
        <input type="text" v-model="textMessage">
        <button type="button" @click.prevent="submit">Submit</button>
        <button type="button" @click.prevent="connect(WS_URL)">Connect</button>
        <button type="button" @click.prevent="disconnect">Disconnect</button>
    </div>
</div>
<script>
  CLIENT_ID = crypto.randomUUID()
  WS_URL = `ws://${location.host}/ws/${CLIENT_ID}`

  const app = {
    data() {
      return {
        messages: [],
        textMessage: "",
        ws: null,
        status: "Not connected",
        WS_URL,
        CLIENT_ID
      }
    },
    methods: {
      submit() {
        this.ws.send(JSON.stringify(this.textMessage))
        this.textMessage = ""
      },
      connect(url) {
        const ws = new WebSocket(url)

        ws.addEventListener("open", (evt) => {
          this.status = "Connected"
          console.log("Open", evt)
        })

        ws.addEventListener("message", (evt) => {
          this.messages.push(JSON.parse(evt.data))
          console.log("Message", evt)
        })

        ws.addEventListener("close", (evt) => {
          this.status = "Not connected"
          console.log("Close", evt)
        })

        ws.addEventListener("error", (evt) => {
          this.status = "Error (see console)"
          console.error("Error", evt)
        })

        this.ws = ws
      },
      disconnect() {
        this.ws.close()
        this.ws = null
        this.messages = []
      }
    }
  }
  Vue.createApp(app).mount("#app")
</script>
</body>
</html>